@use '../variables';
section.tagged {
	padding: variables.$pad-top-for-header 2rem variables.$pad-bottom-for-footer;

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		li {
			width: 32%;
			img {
				width: 100%;
			}
		}
	}
}
