section.tags {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #222;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		li {
			background: rgb(175, 7, 7);
			color: white;
			border-radius: 100px;
			padding: 5px 15px;
			font-size: 1.25rem;
			margin: 0.75em 0.5em;
			font-weight: 700;
			transition: 0.3s;

			&.active {
				// gets applied when you tag something with this tag
				animation: shake 1s;
			}

			em {
				font-size: 1rem;
				font-weight: 100;
			}

			&.plus {
				// background: rgb(211, 76, 76);
				input {
					background: transparent;
					color: white;
					font-weight: 100;
					font-size: 1.25rem;
					border: 0;
					width: 100px;
					&::placeholder {
						color: white;
					}
					&:focus {
						&::placeholder {
							color: rgba(255, 255, 255, 0.5);
						}
					}
				}
			}
		}
	}
}

@keyframes shake {
	0%,
	100% {
		transform: scale(1) rotate(0deg);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: scale(1.3) rotate(8deg);
	}
	20%,
	40%,
	60%,
	80% {
		transform: scale(1.3) rotate(-8deg);
	}
}
